.main_visual img {
    width: 100%;
}

.container {
    background-color: #fffdfd;
    border: 5px solid #f7f7f7;
}

body {
    background-color: white;
}

h1 {
    font-size: 22px;
    line-height: 22px;
    color: #EA0B1E;
    text-transform: uppercase;
    padding: 48px 0 24px 0;
    margin: 0;
    font-weight: 700;
    border-bottom: 1px solid #AEAEAE;
}

h2 {
    letter-spacing: 1px;
    color: rgb(119, 117, 117);
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 24px 0;
    font-weight: 700;
}

.caja-texto {
    height: 100px;
    width: 100%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    color: rgb(107, 102, 102);
}

button {
    display: inline-block;
    width: 118px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    background-color: #EA0B1E;
    border: none;
    letter-spacing: 1px;
}

.footer {
    background-color: white;
    padding: 10px 100px 100px 100px;
    text-align: center;
}

p {
    display: block;
    width: 100%;
    padding: 24px 22px;
    font-size:16px;
    font-weight: 500;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    letter-spacing: 1px;
}

a {
    color: #FFB314;
    font-weight: 600;
    text-decoration: underline;
}